@media (max-width: 1844px){
    header { 
        .btn {
    margin-left: 1%;
        }
    }
    header{
        .menu {
        margin-left: 50%;
        }
    }
}
@media (max-width: 1440px){
    header {
        .menu {
            margin-left: 40%;
        }
        .btn {
            a {
            padding: 18px 50px;
            }
        }
    }
}
@media (max-width: 1075px){
    header{
        .menu {
        margin-left: 34%;
        }
    }
}
@media(max-width: 992px){
    header {
        .menu{
            display: none;
        }
    }
    header{
        .show{
            display: block;
            position: absolute;
            padding-top: 37px;
            padding-left: 17%;
        }
        .show{
            ul{
                display: block;
                width:100%;
            }
        }
        .burger{
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: 55%;
        }
        .burger{
            i{
            display: block;
            width: 79%;
            height: 2px;
            background-color: #191919;
            margin: 3px;
            }
        }
    }
}
@media(max-width: 681px){
    header {
        .burger {
            margin-left: 36%;
        }
        .show {
        padding-left: 0%;
        }
        .btn {
            a {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 448px){
    header .btn {
        a {
        font-size: 9px;
        }
    }
}
@media(max-width: 425px){
    header {
        .burger {
        margin-left: 30%;
        }
        .show {
            ul {
            margin-left: -40px;
            }
        }
    }
}
@media(max-width: 385px){
    header {
        .burger {
        margin-left: 22%;
        }
        .show {
            ul {
            margin-left: -51px;
            }
        }
        .btn {
            a {
            padding: 15px 40px;
            }
        }
    }
}
@media (max-width: 320px){
    header {
        .show {
            ul {
        margin-left: -42px;
            }
        }
    }
}
