@media(max-width: 992px){
    header{
        .show{
            display: block;
        }
        .burger{
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #ffff;
        }
        .burger{
            i{
                display: block;
                width: 80%;
                height: 5px;
                background-color: red;
                margin: 3px;
            }
        }
    }
}